
<ion-content padding >
    <div  style="text-align: center"> 
    <div class="row">
        <div id="remote-container" >
        </div>
        <div id="local-container">
        </div>
    </div>
    <div class="center-div">
        <div id="hangupButtons">
        </div>
    </div>
    <div class="row" >
        <div id="streamButtons">
        </div>
    </div>
    <div class="center-div">
        <ion-button color="danger" id="decline">Decline call</ion-button>
        <ion-button color="success" id="accept">Accept call</ion-button>
    </div>
</div>
</ion-content>